
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

:root {
    --primary: #03033e;
    --secondary: #fcfcfc;
    --light:#e6e6e6;
    --accent: #004AAD;

    --text-xxl: 4.8em; 
    --text-xl: 3.6em; 
    --text-lg: 3.2em; 
    --text-md: 2.2em; 
    --text-sm: 1.6em; 
    --text-xs: 1.2em;

    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--text-sm);
    color: var(--primary)
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    font-size: var(--text-sm);
    text-decoration: none;
    color: var(--primary)
}

/*NAVBAR*/

header {
    background-color: var(--secondary);
    padding: var(--sp-xs);
}
  

.navbar {
    display: flex;
    justify-content: space-between;

}
.navbar .navbar__link {
    min-width: 180px;
    max-width: 180px;
}
.navbar .menu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.menu .menu__link {
    padding: var(--sp-xs);
    transition: all .3s ease-in-out;
    transition-delay: .1s;
}
.menu .menu__link:hover {
    background-color: var(--accent);
    color: var(--secondary);
}

.navbar .menu .menu__link {
    color: var(--primary);
}

.navbar .menu__link {
    display: inline-block;
}

.navbar .menu {
    display: inline-block;
    padding: 30px;
}

.navbar .menu .menu__item {
    display: inline-block;
}

.navbar .menu .menu__link{
    size: 20px;
    
}

/*INDEX*/
.intro {
    font-size: var(--text-xxl);
    text-align: center;
    padding: 40px;
}


.banner1 {
width: 100%;
height: 100vh;
background-image: url(../IMG/banner1.jpg);
background-size: cover;
background-position: center;
background-position-x: center;
background-position-y: center;
background-attachment: fixed;
}
@media screen and (max-width:576px) {
    .banner1 {
      background-image: url(../IMG/banner1_1.png);
    }
}

#banner2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--light);
    
}

    .img__2 {
        display: grid;
        padding: 1em;
        grid-column: span 6;
        grid-row: span 6;
    }



    @media screen and (max-width:576px) {
        .img__2{
            display: grid;
            padding: 1em;
            grid-column: span 6;
            grid-row: span 6;
            background-image: url(../IMG/banner2_2.png);
        }  
    }
    @media screen and (max-width:576px) {
        #segunda__home{
            display: none;
        }    

}
    
    .text2 {
        display: grid;
        padding: 1em;
        grid-column: span 6;
        grid-row: span 6;
        align-items: center;
       
    }
    .h2__2 {
        display: grid;
        
    }


    /*NOSOTROS*/

    .quienes_somos {
        background-color: var(--light);
        padding: 2em;
    }
    .banner__nosotros {
        width: 100%;
        height: 100vh;
        background-image: url(../IMG/banner_nosotros.png);
        background-size: cover;
        background-position: center;
        background-position-x: center;
        background-position-y: center;
        background-attachment: fixed;
        }
        @media screen and (max-width:576px) {
            .banner__nosotros {
              background-image: url(../IMG/banner_nosotros2.png);
            }
        }
        #cards {
            margin: 1em;
            padding: 1em;
        }


    footer {
        background-color: var(--light);
        height: 100%;
        font-weight: 100%;
        }